# useful commands
# set intended state of outer repo: git submodule update --init --recursive
# dev update: git submodule update --init --recursive --remote

#[submodule "components/arduino"]
#	path = components/arduino
#	url = https://github.com/espressif/arduino-esp32.git
#	shallow = true
[submodule "components/Adafruit_ADS1X15/Adafruit_ADS1X15"]
	path = components/Adafruit_ADS1X15/Adafruit_ADS1X15
	url = https://github.com/adafruit/Adafruit_ADS1X15
[submodule "components/Adafruit_BusIO"]
	path = components/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "components/InfluxDB-Client-for-Arduino/InfluxDB-Client-for-Arduino"]
	path = components/InfluxDB-Client-for-Arduino/InfluxDB-Client-for-Arduino
	url = https://github.com/tobiasschuerg/InfluxDB-Client-for-Arduino
[submodule "components/Arduino-LiquidCrystal-I2C/Arduino-LiquidCrystal-I2C-library"]
	path = components/Arduino-LiquidCrystal-I2C/Arduino-LiquidCrystal-I2C-library
	url = https://github.com/fdebrabander/Arduino-LiquidCrystal-I2C-library
[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
[submodule "components/INA226_WE"]
	path = components/INA226_WE/INA226_WE
	url = https://github.com/fl4p/INA226_WE

[submodule "components/SimpleFTPServer/SimpleFTPServer"]
	path = components/SimpleFTPServer/SimpleFTPServer
	url = https://github.com/xreef/SimpleFTPServer
[submodule "components/ESPTelnet/ESPTelnet"]
	path = components/ESPTelnet/ESPTelnet
	url = https://github.com/LennartHennigs/ESPTelnet
[submodule "components/esp32-semihosting-profiler/esp32-semihosting-profiler"]
	path = components/esp32-semihosting-profiler/esp32-semihosting-profiler
	url = https://github.com/fl4p/esp32-semihosting-profiler
[submodule "components/ESPAsyncWebServer"]
	path = components/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
