CONFIG_FREERTOS_HZ=1000

CONFIG_AUTOSTART_ARDUINO=y

CONFIG_ARDUINO_RUNNING_CORE=0
CONFIG_ARDUINO_RUN_CORE0=y
CONFIG_ARDUINO_EVENT_RUNNING_CORE=0
CONFIG_ARDUINO_EVENT_RUN_CORE0=y
CONFIG_ARDUINO_SERIAL_EVENT_TASK_RUNNING_CORE=0
CONFIG_ARDUINO_SERIAL_EVENT_RUN_CORE0=y
CONFIG_ARDUINO_UDP_RUNNING_CORE=0
CONFIG_ARDUINO_UDP_RUN_CORE0=y


CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"


# CONFIG_ESP_TASK_WDT_TIMEOUT_S=10

CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_EXCEPTIONS_EMG_POOL_SIZE=1024



# TODO reset on wd !
# NO! dont disable WD as it is usefull to discover spinlocks (IDLE tasks needed for OS housekeeping)
CONFIG_ESP_TASK_WDT_EN=y


# OTA: (NetworkClientSecure)
# this will significantly increase image size:
CONFIG_MBEDTLS_PSK_MODES=n #y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=n #y


### perf
CONFIG_COMPILER_OPTIMIZATION_PERF=y

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASH_MODE_AUTO_DETECT=n

# https://docs.espressif.com/projects/esp-idf/en/stable/esp32h2/api-guides/performance/speed.html#speed-targeted-optimizations
CONFIG_LWIP_TCPIP_TASK_AFFINITY_CPU0=y
CONFIG_LWIP_TCPIP_TASK_AFFINITY=0x0
CONFIG_PTHREAD_DEFAULT_CORE_NO_AFFINITY=0x0


# PSRAM
#CONFIG_SPIRAM=y
#CONFIG_SPIRAM_USE_MALLOC=y
#CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y


CONFIG_ADC_CONTINUOUS_ISR_IRAM_SAFE=y
# CONFIG_ADC_ONESHOT_CTRL_FUNC_IN_IRAM=y


# disable speech recognigtion code
CONFIG_USE_WAKENET=n
CONFIG_USE_MULTINET=n
